html {
    font-family: "Open sans",sans-serif;
    font-size: 18px;
    background: #E5E5E5;
}

body{
    width: 1000px;
    background: #E5E5E5 !important;
    margin: 0 auto 0 auto !important;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

td {
    text-align: middle;
}

.menu {
    margin: 20px auto 20px auto;
}

.box {
    border: 1px solid #DDD;
    margin: 20px auto 20px auto !important;
    background: #fff;
    padding: 25px;
    box-shadow: 0px 0px 5px #999;
}